<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear Confirmation</title>
</head>

<body>
	<h1>Removed all recently watched shows and movies</h1>
    All shows and movies have been removed from your history. <br><br><br>
    <a href="/">HOME</a></li>
</body>

</html>
