<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear Confirmation</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
	<%- include('navbar') %>
		<div class="plotContainer">
			<h1>Your results have been cleared!</h1>
			All shows and movies have been removed from your history.
		</div>

</body>

</html>