<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
    </head>

    <body>
        <h1>Streaming Sites</h1>
        <ul>
            <li>Search for plot: <a href="/plotSearch">Plot Summary</a></li>
            <li>Search by Title: <a href="/streamingSourceSearch">Sources</a></li><br>
            <li>Find previous results: <a href="/previousResults">Previous Results</a></li><br>
        </ul>
        <hr>
        <hr>
    </body>
</html>