<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>

    <body>
        <div class="topnav">
            <a href="/clearResults">Clear History</a>
            <a href="/previousResults">History</a>
            <a class="active" href="/">Home</a>
        </div>

        <div class="container">
            <h1 class="title">Media Services</h1>
            <div class="button-container">
                <a href="/plotSearch" class="button">Summary</a>
                <a href="/streamingSourceSearch" class="button">Sources</a>
            </div>
        </div>
    </body>
</html>