<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
    </head>

    <body>
        <h1>Streaming Sites</h1>
        <ul>
            <li>Search for Summary: <a href="/plotSearch">Plot Summary</a></li><br>
            <li>Search for Movie: <a href="/streamingSourceSearch">Sources</a></li><br>
            <li>Search History: <a href="/previousResults">History</a></li><br>
            <li>Clear Search History: <a href="/clearResults">Clear History</a></li><br>
        </ul>
        <hr>
        <hr>
    </body>
</html>