<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Plot</title>
    </head>

    <body>
        <h1>Plot Search: </h1>
        <form action="http://localhost:<%- port %>/plot" method="post"> 
            <label><strong>Movie Title: </strong><input type="text" name="title_name" id="title_name"/></label>
            <br>
            <input type="reset" value = "Reset">
            <input type="submit" value="Submit"><hr>
            <a href="/">HOME</a></li>
        </form>
    </body>
</html>