<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Plot Summary</title>
</head>

<body>
	<h1>Plot Summary</h1>
    <strong>Movie: </strong><%- title_name %><br>
    <strong>Plot Summary: </strong><%- plot %><br>

    <a href="/">HOME</a></li>
</body>

</html>
