<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Plot Summary</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <%- include('navbar') %>
	<h1>Plot Summary</h1>
    <strong>Show/Movie: </strong><%- title_name %><br>
    <strong>Plot Summary: </strong><%- plot %><br>
</body>

</html>
