<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sources</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>

    <body>
        <%- include('navbar') %>
        <div class="container">
        <h1>Source Search</h1>
            <form action="/streamingSourceSearch" method="post">
                <label><strong>Show/Movie Title: </strong><input type="text" name="title" id="title_name"/></label>
                <input type="submit">
            </form>
        </div>
    </body>
</html>
