<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sources</title>
    </head>

    <body>
        <h1>Source Search</h1>
        <form action="/streamingSourceSearch" method="post">
            <label><strong>Movie Title: </strong><input type="text" name="title_name" id="title_name"/></label>
            <input type="submit"><hr>
            <a href="/">HOME</a>
        </form>
    </body>
</html>
